[submodule "libs/json"]
	path = libs/json
	url = https://github.com/CppDigest/json.git
	branch = master
[submodule "libs/unordered"]
	path = libs/unordered
	url = https://github.com/CppDigest/unordered.git
	branch = master
[submodule "libs/algorithm"]
	path = libs/algorithm
	url = https://github.com/CppDigest/algorithm.git
	branch = master
[submodule "libs/system"]
	path = libs/system
	url = https://github.com/CppDigest/system.git
	branch = master
